

/* album section */

.circle-img{
    width:180px;
    height:180px;
    margin:auto;
    border-radius:50%;
    overflow:hidden;
    border:5px solid #fff;
    box-shadow:0 10px 25px rgba(0,0,0,.15);
    transition:.4s;
}

.circle-img img{
    width:100%;
    height:100%;
    object-fit:cover;
    transition:.4s;
}

.circle-img:hover{
    transform:translateY(-8px);
    box-shadow:0 15px 30px rgba(0,0,0,.25);
}

.circle-img:hover img{
    transform:scale(1.1);
}



/* Mobile */
@media (max-width:768px){
    .circle-img{
        width:130px;
        height:130px;
    }
}